# .chezmoi.toml.tmpl
# ==============================================================================

sourceDir = {{ .chezmoi.workingTree | quote }}

[warnings]
configFileTemplateHasChanged = false

{{- $name := promptStringOnce . "name" "Name of author/commiter" "Pavel Lymarev"}}
{{- $email := promptStringOnce . "email" "Email of author/commiter" "5990152+x-user@users.noreply.github.com"}}
{{- $gpgKey := promptStringOnce . "gpgKey" "GPG key to sign commits" "CB14622741D86FDA"}}

[data]
email = {{ $email | quote }}
name = {{ $name | quote }}
gpgKey = {{ $gpgKey | quote }}

# ==============================================================================
# code: language=toml vim: set ft=toml:
