# .chezmoiexternal.toml.tmpl
# ==============================================================================

[".config/tmux/plugins/tpm"]
  type = "git-repo"
  url = "https://github.com/tmux-plugins/tpm.git"
  refreshPeriod = "168h"
  [".config/tmux/plugins/tpm".clone]
    args = ["--depth", "1"]

# ==============================================================================
# code: language=toml vim: set ft=toml:
