# .chezmoiignore
# ==============================================================================

{{- if eq .chezmoi.os "darwin" }}
.bashrc.d/configure_ssh-agent
{{- end }}

{{- if eq .chezmoi.os "windows" }}
.bashrc.d/
.bashrc.d/**
.ssh/controlmasters/
.ssh/controlmasters/**
{{- end  }}

# ==============================================================================
# code: language=ignore vim: set ft=gitignore:
