# .chezmoiignore
# ==============================================================================

{{- if eq .chezmoi.os "windows" }}
.ssh/controlmasters
.ssh/controlmasters/**
{{- end  }}

# ==============================================================================
# code: language=ignore vim: set ft=gitignore:
