# ~/.gitconfig
# ==============================================================================

[color]
  ui = auto

[color "branch"]
  upstream = cyan

[commit]
{{- if not (empty .gpgKey) }}
  gpgsign = true
{{- end }}
  template = ~/.gitmessage.txt

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

[credential]
{{- if (or (eq .chassisType "desktop") (eq .chassisType "laptop")) }}
{{-   if eq .chezmoi.os "linux" }}
  helper = libsecret
{{-   else if eq .chezmoi.os "darwin" }}
  helper = osxkeychain
{{-   else if eq .chezmoi.os "windows" }}
  helper = wincred
{{-   end }}
  helper = oauth
{{- end }}

[diff]
  tool = nvimdiff

[difftool]
  prompt = false

[init]
  defaultBranch = master

[merge]
  conflictStyle = zdiff3
  tool = nvimdiff

[mergetool]
  prompt = false

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"

[user]
  email = {{ .email | quote }}
  name = {{ .name | quote }}
{{- if not (empty .gpgKey) }}
  signingkey = {{ .gpgKey | quote }}
{{- end }}

[url "https://github.com/"]
  insteadOf = "github:"
  insteadOf = "git@github.com:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git@github.com:"

[url "https://bitbucket.org/"]
  insteadOf = "bitbucket:"
  insteadOf = "git@bitbucket.org:"
  pushInsteadOf = "bitbucket:"
  pushInsteadOf = "git@bitbucket.org:"

[include]
  path = ~/.gitconfig_aliases
  path = ~/.gitconfig_local

[includeif "gitdir/i:~/Documents/work/"]
  path = ~/.gitconfig_work

# ==============================================================================
# code: language=properties vim: set ft=gitconfig:
