# ~/.gitconfig
# ==============================================================================

[color]
ui = auto

[color "branch"]
upstream = cyan

[commit]
{{- if not (empty .gpgKey) }}
gpgsign = true
{{- end }}
template = ~/.gitmessage.txt

[core]
editor = nvim
excludesfile = ~/.gitignore_global

[credential]
{{- if eq .chezmoi.os "linux" }}
helper = libsecret
helper = oauth
{{- else if eq .chezmoi.os "darwin" }}
helper = osxkeychain
helper = oauth
{{- else if eq .chezmoi.os "windows" }}
helper = wincred
helper = oauth
{{- end }}

[diff]
tool = nvimdiff

[difftool]
prompt = false

[init]
defaultBranch = master

[merge]
conflictStyle = zdiff3
tool = nvimdiff

[mergetool]
prompt = false

[mergetool "nvimdiff"]
layout = "LOCAL,BASE,REMOTE / MERGED"

[user]
email = {{ .email | quote }}
name = Pavel Lymarev
{{- if not (empty .gpgKey) }}
signingkey = {{ .gpgKey | quote }}
{{- end }}

[url "https://github.com/"]
insteadOf = "github:"
insteadOf = "git@github.com:"
pushInsteadOf = "github:"
pushInsteadOf = "git@github.com:"

[url "https://bitbucket.org/"]
insteadOf = "bitbucket:"
insteadOf = "git@bitbucket.org:"
pushInsteadOf = "bitbucket:"
pushInsteadOf = "git@bitbucket.org:"

[include]
path = ~/.gitconfig_aliases
path = ~/.gitconfig_local

# ==============================================================================
# code: language=properties vim: set ft=gitconfig:
