# ~/.gitconfig
# ==============================================================================

[color]
  ui = auto

[color "branch"]
  upstream = cyan

[commit]
{{- if not (empty .gpgKey) }}
  gpgsign = true
{{- end }}
  template = ~/.gitmessage.txt

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

[credential]
{{- if eq .chezmoi.os "linux" }}
  helper = libsecret
{{- else if eq .chezmoi.os "darwin" }}
  helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
  helper = wincred
{{- end }}
  helper = oauth

[diff]
  tool = nvimdiff

[difftool]
  prompt = false

[init]
  defaultBranch = master

[merge]
  conflictStyle = zdiff3
  tool = nvimdiff

[mergetool]
  prompt = false

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"

[url "https://github.com/"]
  insteadOf = "git@github.com:"
  pushInsteadOf = "git@github.com:"

[url "https://bitbucket.org/"]
  insteadOf = "git@bitbucket.org:"
  pushInsteadOf = "git@bitbucket.org:"

[user]
  email = {{ .email | quote }}
  name = {{ .name | quote }}
{{- if not (empty .gpgKey) }}
  signingkey = {{ .gpgKey | quote }}
{{- end }}

# ------------------------------------------------------------------------------

[include]
  path = ~/.gitconfig_aliases
  path = ~/.gitconfig_local

[includeif "gitdir/i:~/projects/oss/"]
  path = ~/projects/oss/.gitconfig

[includeif "gitdir/i:~/projects/work/"]
  path = ~/projects/work/.gitconfig

# ==============================================================================
# code: language=properties vim: set ft=gitconfig:
